input {
  background-color: black;
  color: white;
  width: 50px;
  height: 20px;
  float: right;

  padding: 0px;
  margin: 0px;
}

#sim {
  border-style: solid;
  border-color: darkgreen;
}

#sim-container {
  border-style: solid;
  border-color: darkgreen;
  margin: 5px;
  padding: 5px
}

#big_button {
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  background-color: darkgreen;
  color: white;
  border-radius: 8px;
}

body {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  background-color: rgb(0, 15, 0);
}

#menu {
  background-color: rgb(0, 20, 0);
  border: 2px;
  border-color: green;
  border-style: solid;

  padding: 5px;
  margin: 5px;

  line-height: 24px;
}
